body{
    background: url("./table.png");
    background-size: cover;
    text-align: center;
    color: white;
}

h1{
    font-size: 4rem;
}

p{
    font-size: 1.5rem;
}

.container{
    margin: 200px auto;
    width: 40%;
    border: 2px solid black;
    border-radius: 5px;
}

button{
    display: block;
    margin: 10px auto;
    width: 150px;
    padding: 5px 10px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    background: lightgoldenrodyellow;
    cursor: pointer;
}